.home {

    &-posts {
        display: flex;

        @include desktop {
            padding: 48px;
        }

        @include tablet {
            padding: 36px;
        }

        @include mobile {
            flex-direction: column;
            padding: 20px;
        }
        
        & > section {
            flex: 3;
            margin-right: 32px;

            @include mobile {
                margin: 0;
            }
        }

        & > aside {
            flex: 1;

            & > section {
                display: flex;
                flex-wrap: wrap;
                margin: 8px -8px;
                & a {
                    padding: 8px;
                    margin: 8px;
                    border: 1px solid rgb(221, 220, 220);
                    border-radius: 4px;
                    font-size: 14px;

                    &:hover {
                        background-color: rgb(235, 235, 235);
                    }
                }
            }
        }

        &-tab {
            width: 100%;
            display: flex;
            margin-bottom: 32px;
            border-bottom: 0.5px solid rgb(230, 227, 227);

            & a {
                padding: 4px 8px;
                margin-right: 32px;
                font-weight: 500;
                font-size: 14px;
            }

            &-select {
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}

.banner {
    height: 80vh;
    width: 100%;
    background-color: #B9EFD6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    
    @include tablet {
        height: 40vh;
        padding: 0 4%;
    }

    @include mobile {
        height: 60vh;
        flex-direction: column;
        padding: 24px;
    }

    & > img {

        @include desktop {
            height: 68%;
        }

        @include tablet {
            height: 48%;
        }

        @include mobile {
            width: 100%;
        }
    }

    & h1 {
        font-size: 40px;
        font-weight: 900;
        color: #0C472C;

        @include tablet {
            font-size: 32px;
        }

        @include mobile {
            font-size: 32px;
        }
    }

    & p {
        margin: 12px 0px;
        font-size: 24px;
        font-weight: 600;

        @include tablet {
            font-size: 20px;
        }

        @include mobile {
            font-size: 16px;
        }
    }
    
    & button {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 16px;
    }
}