$gray-color: rgb(92, 91, 91);

.user {
    &-wallpaper {
        width: 100%;
        height: 120px;
        background-color: $secondary-color;
    }

    &-main {
        position: relative;
        max-width: 960px;
        
        @include desktop {
            margin: auto;
            margin-top: -60px;
        }
        @include tablet {
            margin: 0px 36px;
            margin-top: -60px;
        }
        @include mobile {
            margin: 0px 12px;
            margin-top: -60px;
        }

        padding-top: 100px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > h3 {
            font-size: 24px;
            font-weight: 900;
        }

        & > p {
            margin: 12px;
        }

        &-avatar {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -50px;
            padding: 8px;
            background-color: $secondary-color;
            border-radius: 50%;
            & > div {
                width: 112px;
                height: 112px;
                border: 1px solid rgb(224, 223, 223);
            }

            & > button {
                position: absolute;
                bottom: 4px;
                right: 4px;
                background-color: rgb(224, 224, 224);
                min-width: auto;
                border-radius: 50%;
                width: 28px;
                height: 28px;

                &:hover {
                    background-color: #ccc;
                }

                & svg {
                    font-size: 16px;
                }
            }
        }

        &-button {
            position: absolute!important;
            top: 16px;
            right: 20px;

            @include mobile {
                top: 8px;
                right: 8px;
                font-size: 12px;
                padding: 4px 8px;
            }
        }

        &-follow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-top: 1px solid rgb(236, 236, 236);
            padding: 16px;
            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0px 64px;

                & span {
                    font-size: 12px;
                    color: $gray-color;
                    font-weight: 700;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &-posts {
        max-width: 960px;
        

        @include desktop {
            margin: auto;
            margin-top: 24px;
        }

        @include tablet {
            margin: 24px 36px;
        }

        @include mobile {
            margin: 16px 20px;
        }

        & > h3 {
            margin: 8px 0px;
        }

        & li {
            list-style-type: none;
            margin-bottom: 16px;
        }
    }
}
